<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CopaData.LooseCoupling.Logging" version="1.0.0.2831" targetFramework="net472" />
  <package id="CopaData.Tools.AuthorIt.AitConnector" version="1.0.0.2431" targetFramework="net472" />
  <package id="CopaData.Tools.DynPropertyParser" version="1.0.0.2851" targetFramework="net472" />
  <package id="log4net" version="2.0.5" targetFramework="net472" />
  <package id="Microsoft.ApplicationInsights" version="2.1.0" targetFramework="net472" />
  <package id="Microsoft.ApplicationInsights.Log4NetAppender" version="2.1.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net472" />
</packages>