<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CopaData.LooseCoupling.Logging" version="1.0.0.2873" targetFramework="net461" />
  <package id="CopaData.Tools.AuthorIt.AitConnector" version="1.0.0.2431" targetFramework="net461" />
  <package id="CopaData.Tools.DynPropertyParser" version="1.0.0.2929" targetFramework="net461" />
  <package id="CopaData.Tools.TfsUtilities" version="1.0.0" targetFramework="net472" />
  <package id="log4net" version="2.0.5" targetFramework="net461" />
  <package id="Microsoft.ApplicationInsights" version="2.1.0" targetFramework="net461" />
  <package id="Microsoft.ApplicationInsights.Log4NetAppender" version="2.1.0" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.2" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.2" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="2.22.302111727" targetFramework="net461" />
  <package id="Microsoft.TeamFoundationServer.Client" version="14.83.0" targetFramework="net461" />
  <package id="Microsoft.TeamFoundationServer.ExtendedClient" version="14.83.0" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Services.Client" version="14.83.0" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Services.InteractiveClient" version="14.83.0" targetFramework="net461" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="1.7.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="System.IdentityModel.Tokens.Jwt" version="4.0.0" targetFramework="net461" />
  <package id="WindowsAzure.ServiceBus" version="2.5.1.0" targetFramework="net461" />
</packages>